header
{
	height: 50px;
	width:100%;
	background-color: #F48024;
	border:none;
	border-radius: 5px;
	color: white;
}
h5
{
	color: white;
	text-align: center;
	margin-top: 8px;
}
div.row
{
	display: inline;
}
.container
{
	text-align: center;
}
.btn, button
{
	text-align: center;
	height: 40px;
	background-color: #F48024;
	border-radius: 5px;
	
	margin-top: 20px;
}
.head
{
	font-size:23px;
}
input[type="text"] , input[type="number"]
{
	margin-top: 10px;
	border-radius: 4px;
}
input[type="checkbox"]
{
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 4px;
}
p
{
	font-size: 23px;
}
select
{
	margin-top: 10px;
}
.btn:hover
{
	cursor: pointer;
}